@{
    ViewBag.Title = "Доблавление аккаунтов";
}

<h2>Добавление аккаунтов</h2>

@using (Ajax.BeginForm("AddAccounts", new AjaxOptions { UpdateTargetId = "Result" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleFormControlTextarea1">Аккаунты</label>
                <textarea class="form-control" name="accounts" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <input type="submit" class="form-control" value="Добавить" />
    </div>
}
<div>
    <h3><p id="Result"></p></h3>
</div>

